@import url(../../node_modules/sanitize.css/);
html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f3ea;
  font-size: 22px;
  font-family: "Lora", serif;
  color: #222;
}

a {
  color: #222;
  border-bottom: 2px dashed #8900db;
  text-decoration: none;
}

a:hover, a:focus {
  border-bottom-style: solid;
}

.color-primary {
  color: #8900db;
}

.section {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.section__title {
  margin-bottom: 4rem;
  text-align: center;
}

@media (min-width: 768px) {
  .section {
    max-width: 800px;
  }
}

.section--bg {
  width: 100%;
  height: 300px;
  background-position: center center;
  background-size: cover;
}

@media (min-width: 768px) {
  .section--bg {
    max-width: 100%;
  }
}

.app-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-intro__banner {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 400px;
  background-image: url("../pic.jpg");
  background-size: cover;
  background-position: top center;
}

.app-intro__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-intro__content-container {
  padding: 3rem;
}

@media (min-width: 900px) {
  .app-intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .app-intro__banner {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    background-position: 50% 50%;
    max-width: 600px;
  }
  .app-intro__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.app-intro__rsvp {
  display: inline-block;
  width: 100px;
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: white;
  background: #8900db;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
}

.app-intro__rsvp:hover, .app-intro__rsvp:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.timeline__event {
  display: block;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.timeline__date-time {
  text-align: left;
}

.timeline__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.timeline__location {
  margin-top: 0;
}

@media (min-width: 768px) {
  .timeline {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .timeline__event {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .timeline__date-time {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    margin-right: 2rem;
    text-align: right;
  }
}
/*# sourceMappingURL=app.css.map */