@import url(../../node_modules/sanitize.css/);

$breakpoint-xs: 768px;

$color-primary: #8900db;
$text: #222;

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 243, 234);
  font-size: 22px;
  font-family: "Lora", serif;
  color: $text;
}

a {
  color: $text;
  border-bottom: 2px dashed $color-primary;
  text-decoration: none;
  &:hover,
  &:focus {
    border-bottom-style: solid;
  }
}

.color-primary {
  color: $color-primary;
}

.section {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  &__title {
    margin-bottom: 4rem;
    text-align: center;
  }

  @media (min-width: $breakpoint-xs) {
    max-width: 800px;
  }

  &--bg {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;

    @media (min-width: $breakpoint-xs) {
      max-width: 100%;
    }
  }
}

.app-intro {
  display: flex;
  flex-direction: column;
  &__banner {
    flex: 0 0 auto;
    height: 400px;
    background-image: url("../pic.jpg");
    background-size: cover;
    background-position: top center;
  }
  &__content {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
  }
  &__content-container {
    padding: 3rem;
  }
  @media (min-width: 900px) {
    flex-direction: row;
    &__banner {
      height: auto;
      flex: 0 0 50%;
      background-position: 50% 50%;
      max-width: 600px;
    }
    &__content {
      flex: 0 0 50%;
    }
  }
  &__rsvp {
    display: inline-block;
    width: 100px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    color: white;
    background: $color-primary;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.1s all linear;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}

.timeline {
  &__event {
    display: block;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  &__date-time {
    text-align: left;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  &__location {
    margin-top: 0;
  }

  @media (min-width: $breakpoint-xs) {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    &__event {
      display: flex;
    }
    &__date-time {
      flex: 0 0 200px;
      margin-right: 2rem;
      text-align: right;
    }
  }
}
